:root { 
--gray_700:#595959; 
--black_900_01:#0e0e0e; 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--gray_800:#433e3d; 
--gray_900:#141829; 
--gray_900_01:#121212; 
--blue_gray_700:#4c4f5c; 
--white_A700:#ffffff; 
--orange_100:#ffd1a3; 
}